.basketList {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50rem;
    max-width: 95%;
    &-close {
        cursor: pointer;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        color: white;
    }
}